body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background:rgb(53, 53, 53);
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 100%;
}

.app_messager {
  background: white;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
  color: black;
  font-weight: bold;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: -12%;
  transform: translate(-50%, 80%);
  visibility: hidden;
  width: 10%;
}

.app_messager.show {
  visibility: visible;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

.app_messager.hide {
  animation-duration: 1s;
  animation-name: slideout;
  animation-iteration-count: 1;
}

.app_messager:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-top: solid 12px black;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
}

@keyframes slidein {
  0% {
    transform: translate(-50%, 80%) scale(0) translateY(250px) ;
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 80%) scale(1) translateY(0px) ;
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    visibility: visible;
    transform: translate(-50%, 80%) scale(1) translateY(0) ;
    opacity: 1;
  }
 
  30% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    transform: translate(-50%, 80%) scale(0) translateY(150px) ;
    opacity: 0;
  }
}